<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>餐廳官網</title>
    <link rel="stylesheet" href="../css/backstage_menu.css">
  </head>
  <body>
    <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="overlay__message">
        <div class="overlay__close-btn">X</div>
        <h3>錯誤</h3>
        <p><%= errorMessage %></p>
      </div>
     <% } %>
    <div class="overlay hide">
    </div>
    <div class="overlay__editquestion hide">
      <div class="overlay__close-btn">X</div>
      <h3>編輯商品</h3>
      <form class="overlay__form" action="/apis/edit-item" method="post" enctype="multipart/form-data">
        <div class="overlay__form__name">
          <p>品名：</p>
          <input required type="text" name="name" value=""></input>
        </div>
        <div class="overlay__form__price">
          <p>價格： </p>
          <input required type="number" name="price" value=""></input>
        </div>
        <div class="overlay__form__picture">
          <p>圖片：（若已有圖片可留空白） </p>
          <input type="file" name="picture" value=""></input>
        </div>
        <input type="hidden" name="id" value="">
        <input class="bill__btn" type="submit" name="" ></input>
      </form>
    </div>
    <nav class="navbar">
      <div class="wrapper">
        <div class="navbar__site-name">
          Just A bite!
        </div>
        <ul class="navbar__list">
          <li class="active"><a href="/backstage/menu">餐點設定</a></li>
          <li><a href="/backstage/lottery">抽獎獎項設定</a></li>
          <li><a href="/backstage/questions">常見問題設定</a></li>
          <li><a href="/logout">登出</a></li>
        </ul>
      </div>
    </nav>
    <section class="bill__info">
      <div class="wrapper">
        <h2>新增商品</h2>
        <div class="hr"></div>
        <form class="bill__form" action="/apis/create-item" method="post" enctype="multipart/form-data">
          <div class="form__inner">
            <p>品名<span>*</span> </p>
            <input required type="text" name="name" value="">
          </div>
          <div class="form__inner">
            <p>價格<span>*</span> </p>
            <input required type="number" name="price" value="">
          </div>
          <div class="form__inner">
            <p>圖片<span>*</span> </p>
            <input required type="file" name="picture" value="">
          </div>
          <div class="form__inner">
            <button class="bill__btn" type="submit" name="button">確認送出</button>
          </div>
        </form>
      </div>
    </section>
    <section class="list">
      <div class="wrapper">
        <h2>商品總覽</h2>
        <div class="hr"></div>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>圖片</th>
              <th>商品名稱</th>
              <th>價格</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <div class="footer__top">
        <div class="wrapper">
          <div class="footer__info">
            <div>餐館地址: 天上地下天堂路三分之一里六段520號</div>
            <div>訂位專線：02-1314-5566</div>
            <div>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</div>
            <div>email：service@justabite.com.tw</div>
          </div>
          <div class="">
            <div class="footer__site">Just A Bite!</div>
            <div class="">Facebook / Instagram / Youtube</div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有
      </div>
    </footer>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(async () => {
        const data = await fetch('/apis/items').then(data => data.json())
        for(let i=0; i<data.length; i++) {
          let tr = document.createElement('tr')
          tr.innerHTML = `<td> ${i+1}</td>
          <td><img src="/apis/get-image/${data[i].picture}" alt="" height="80px"></td>
          <td class="td_name">${data[i].name}</td>
          <td class="td_price">${data[i].price}</td>
          <td><a data-id="${data[i]._id}" class="btn-edit delete-btn" href="">編輯</a> <a class="delete-btn" href="/apis/delete-item/${data[i]._id}">刪除</a></td>`
          $('tbody').append(tr)
        }

        $('tbody').on('click','.btn-edit',(e) => {
          e.preventDefault()
          let id = $(e.target).attr('data-id')
          let name = $(e.target).parent().siblings('.td_name').text()
          let price = $(e.target).parent().siblings('.td_price').text()
          $(".overlay__form input[name='name']").val(name)
          $(".overlay__form input[name='price']").val(price)
          $(".overlay__form input[name='id']").val(id)
          $('.overlay').show()
          $('.overlay__editquestion').show()
        })
        $('.overlay__close-btn').click(() => {
          $('.overlay').hide()
          $('.overlay__editquestion').hide()
          $('.overlay__message').hide()
        })
      })

    </script>
  </body>
</html>
