* {
  padding:0;
  margin:0;
  list-style:none;
}
.index {
  text-decoration:none;
}
.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navbar .wrapper{
  display : flex;
  justify-content :space-between;
  align-items :center;
  height : 84px;
  background : white;
  padding : 0px 24px;
}
.wrapper {
  max-width:1280px;
  margin: 0 auto;
  padding:0px 12px;
}
.navbar__site-name {
  color : #489846;
  font-size : 36px;
}
.navbar__list {
  list-style:none;
  margin : 0;
  padding : 0;
  display : flex;
  flex-direction : row;
  font-size : 18px;
  font-family : MicrosoftJhengHei;
}
.navbar__list li {
  margin-left : 12px;
  border-radius : 8px;
  transition: background 0.1s;
}

.navbar__list li.active,
.navbar__list li:hover {
  background : #ff7286;
  color : white;
}

.navbar__list li a {
  display: block;
  padding : 12px 24px;
  border-radius : 8px;
  text-decoration : none;
  color : black;
}

.navbar__list li.active a,
.navbar__list li:hover a {
  color : white
}

.banner {
  position:relative;
  background: url("../pictures/banner.png") center/cover no-repeat;
  height: 350px
}

.banner::after {
  content: "";
  position:absolute;
  background: rgba(0, 0, 0, 0.15);
  top:0;
  bottom:0;
  left:0;
  right:0;

}
.banner h1 {
  position:relative;
  z-index:1;
  margin: 0;
  color: white;
  display:inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:60px;
  font-weight:blod;
}
h1,h2 {
  margin:0;
}
.section {
  text-align:center;
  margin-top:80px;
}
.section__title{
  display:inline-block;
  font-size:36px;
  border-left:solid 15px #a3dea2;
  padding-left:16px;
  margin-bottom:36px;
}
.section__dsc {
  font-size:16px;
  line-height:3em;
  margin:0px 0px 68px 0px;
}
.button  {
  font-size:36px;
  padding: 60px 80px;
  color: #3e613d;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  transition:transform 0.1s;
}
.btn__order{
  background:#a8e8e1
}
.btn__query{
  background:#f9f9b5;
  margin-left:23px;
}
.button:hover {
  transform:scale(1.1)
}
.section__images {
  display: flex;
  overflow: hidden;
}
.section__images div {
  width: 25%;
}
.section__images img {
  width: 100%;
}

.footer__top {
  background:#e8efee;
  padding:32px 0px;
}

.footer__bottom {
  background:#35564b;
  padding:12px 0px;
  text-align:center;
  color:white;
  font-size:16px;
  padding:12px;
}
footer {
  margin-top:48px;
}
.footer__top .wrapper {
  display:flex;
  justify-content:space-between;
}
.footer__site {
  font-size:36px;
  color:#489846;
}
.footer__info div + div {
  margin-top: 10px;
}

.footer__info {
  margin-right:16px;
}

.reviews{
  margin-top: 62px;
  display:flex;
}
.card {
  width:33%;
  position: relative;
  height:205px;
  border: solid 1px #c7e5ec;
  box-shadow: -1.4px -1.4px 4px 0 #c7e5ec;
}

.card+.card{
  margin-left: 16px;
}

.avatar {
  position:absolute;
  top:0;
  left:50%;
  transform: translate(-50%,-50%);
  height:105px;
  width:105px;
  border-radius:50%;
}

.png1{
  background: url('../pictures/p-1.png');
  background-size: cover;
  background-position: center;
}
.png2{
  background: url('../pictures/p-2.png');
  background-size: cover;
  background-position: center;
}
.png3{
  background: url('../pictures/p-3.png');
  background-size: cover;
  background-position: center;
}

.card__content{
  font-size:16px;
  padding-top: 80px;
  padding-left: 22px;
  padding-right: 20px;
  text-align:center;
  line-height: 1.6em;
}
.nametag {
  position:absolute;
  font-size:16px;
  left:50%;
  top:63px;
  transform:translate(-50%,0);

}

@media(max-width:1200px){
  .card {
    height:220px;
  }
}
@media(max-width:100px){
  .card {
    height:265px;
  }
}

@media(max-width:768px) {
  .navbar .wrapper {
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }
  .navbar__list {
    display:flex;
    width: 100%;
  }
  .navbar__list li {
    margin-left: 0;
    flex: 1;
    border-radius: 0;
    text-align:center
  }
  .navbar__site-name {
    margin-top:10px;
  }
  .btn__query {
    margin-left:0;
    margin-top:16px;
  }
  .section__images {
    flex-direction:column
  }
  .section__images div {
    width:100%;
  }
  .footer__top .wrapper {
    flex-direction:column-reverse;
    margin:12px;
  }
  .footer__info {
    margin-right:0;
    margin-top:16px;
  }
  .reviews {
    flex-direction: column;
  }
  .card {
    height:240px;
    width: auto;
  }

  .card + .card {
    margin-left: 0;
    margin-top:70px;
  }
}
